* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  /*cabecalho*/
  header {
    display:flex;
    justify-content: space-between; /*muda a posição dos trequin*/
    background-color: #c4ac91;
    padding: 10px;
    color: #fff;
    align-items: center; /*deixa o texto no centro*/
  }
  
  header .logo{
     font-size: 25px; /*tamanho da letra*/
     color: #f6dcc0;
  }
  
  header .logo img{
      max-width: 100px;
      margin-right:10px;
      margin-bottom: 20px;
      align-self:baseline; /*Permite que o alinhamento*/
  }

  /*tamanho da letra principal*/
  header .logo h1{
    margin-bottom: 5px;
    align-items: center; /* Alinha verticalmente os itens */
  }
  header nav{
    display: flex;
    gap:15px;
  }
  
  nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  nav ul li{
    margin: 50px;
  
  }
  
  nav ul li a{
    color: #927b62;
    text-decoration: none;
    font-weight: bold;
  }
  
  nav ul li a:hover{
    text-decoration: underline;
  }
  
  main{
    padding: 5px;
    flex-direction:column;
    display:flex;
    gap:20px
  }
  
  main section{
    margin-bottom: 30px;
  }
  /*cria um id*/
  #home{
    background-color: #ddc4a9;
    padding: 10px;
    border-radius: 10px; /*faz uma borda*/
    align-items: center;
    color:#fff ;
    flex-direction:row;
  }
  
  #home h2{
    color:#f5f5f5;
    align-items:center;
  }
  .historia-animais{
    border-radius: 10px;
    flex-grow: 0;
    padding: 10px;
    background-color: #ab937a;
  }
  .secao1{
    border-radius: 10px;
    flex-grow: 0;
    padding: 10px;
    background-color: #927b62;
    
  }
  
  .eventos-item{
    background-color: #f6dcc0;
    border-radius: 10px;
    padding: 10px;
    flex-grow: 0;
  
  }
  
  .sobrenos{
    border-radius: 10px;
    flex-grow: 0;
    padding: 10px;
    background-color: #927b62;
  }

  
  .rodape{
    display:flex;
    flex-direction:row ;
    align-items: center;
    padding: 20px;
    background-color: #b9b4af58;
    color: #fff;
  }